BasedOnStyle: LLVM
# Maximum line length
ColumnLimit: 100

# Use tabs
UseTab: true
TabWidth: 4
IndentWidth: 4
ContinuationIndentWidth: 4

# Breaking style
BreakBeforeBraces: Attach
BreakBeforeBinaryOperators: NonAssignment

# Packing style
BinPackArguments: false
BinPackParameters: false

# Alignment style
AlignOperands: DontAlign
PointerAlignment: Middle
AlignTrailingComments: false
AlignConsecutiveMacros: true
AlignConsecutiveAssignments: None
AlignEscapedNewlines: DontAlign
AlignAfterOpenBracket: BlockIndent

# Short element style
AllowShortFunctionsOnASingleLine: None
